<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EO.WebBrowser" version="24.0.96" targetFramework="net48" />
  <package id="LiteNetLib" version="1.2.0" targetFramework="net48" />
  <package id="Northwood.PluginAPI" version="13.1.2" targetFramework="net48" />
  <package id="YamlDotNet" version="15.1.4" targetFramework="net48" />
</packages>